.label {
  font-weight: bold;
}

.form-group {
  margin-bottom: 5px;
}

#taqueria, .tacoHeader {
  text-align: center;
  /* font-family: 'Roboto', sans-serif; */
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}

.change-devoured {
  float: right;
  padding: 3px;
}

.tacoRow {
  padding-left: 50px;
}

.tacosDevoured {
  list-style: none;
}

.container {
  border: 10px solid #000000;
  border-radius: 5px;
  padding-bottom: 5px;
  background: linear-gradient(180deg, #90d1f5, #cbf1ba);
}

.cartaNumero {
  font-size: 20px;
  margin-top: 5px;
  font-weight: bold;
}

#elApache {
  height: 90px;
  width: 90px;
}

body {
  font-family: 'Roboto', sans-serif;
  background-image: url("/assets/img/cookingBoard.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
}
