.label {
  font-weight: bold;
}

.form-group {
  margin-bottom: 5px;
}

#taqueria, .tacoHeader {
  text-align: center;
}

.change-devoured {
  float: right;
  padding: 3px;
}

/* .tacoRow {
  background-color: skyblue;
} */

.tacosDevoured {
  list-style: none;
}

/* .list-group-item {
  display: list-item;
  list-style-type: disc;
} */
